@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  &__prefix,
  &__suffix {
    position: absolute;
    display: flex;
    align-items: center;
    color: $text-2;
    pointer-events: none;
    font-size: $font-size-sm;
  }

  &__prefix {
    inset-inline-start: $space-3;
  }

  &__suffix {
    inset-inline-end: $space-3;
  }
}

.input {
  @include input-base;

  &--hasPrefix {
    padding-inline-start: calc(#{$space-8} - #{$space-2});
  }

  &--hasSuffix {
    padding-inline-end: calc(#{$space-8} - #{$space-2});
  }

  &--technical {
    @include technical-text($font-size-base);

    letter-spacing: 0.06em;
  }
}
