@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.checkbox {
  width: 18px;
  height: 18px;
  margin: 0;
  display: block;
  accent-color: $blue;
  cursor: pointer;

  @include focus-ring;

  &:disabled {
    cursor: not-allowed;
  }
}
