@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.group {
  display: flex;
  flex-wrap: wrap;
  gap: $space-2;

  &--scrollable {
    @include scroll-row($space-2);

    flex-wrap: nowrap;
    padding-block: 2px;
  }
}
