@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.scrollArea {
  @include custom-scrollbar;

  overscroll-behavior: contain;

  &--vertical {
    overflow-y: auto;
    overflow-x: hidden;
  }

  &--horizontal {
    overflow-x: auto;
    overflow-y: hidden;
  }

  &--both {
    overflow: auto;
  }

  @include focus-ring($ring-color, -2px);

  &--fade {
    --hanui-scroll-fade-start: 0px;
    --hanui-scroll-fade-end: 0px;

    &[data-fade-start] {
      --hanui-scroll-fade-start: #{$space-4};
    }

    &[data-fade-end] {
      --hanui-scroll-fade-end: #{$space-4};
    }
  }

  &--fade.scrollArea--vertical {
    mask-image: linear-gradient(
      to bottom,
      transparent 0,
      #000 var(--hanui-scroll-fade-start),
      #000 calc(100% - var(--hanui-scroll-fade-end)),
      transparent 100%
    );
  }

  &--fade.scrollArea--horizontal {
    mask-image: linear-gradient(
      to right,
      transparent 0,
      #000 var(--hanui-scroll-fade-start),
      #000 calc(100% - var(--hanui-scroll-fade-end)),
      transparent 100%
    );
  }
}
